#main-header{
    background-color: goldenrod;
}

.container{
    width: 80%;
    margin: auto;
}

#navbar{
    background-color: black;
}

.pages{
    color: rgb(192, 187, 181);
}

body {
    background-color: lightslategray;
    columns: black;
    font: normal 16px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

#showcase{
    color: black;
}

.main-block{
    margin: 30px;
}

.my-list{
    margin: 60px;
}

.block{
    margin: 45px;
}

#footnote{
    background-color: rgb(73, 52, 73);
}

.box{
    margin: 15px;
}

#main-footer{
    background-color: slategray;
}