#main-header{
    background-color: goldenrod;
    list-style: none;
}

.container{
    width: 80%;
    margin: auto;
}

#navbar{
    background-color: black;
    color: rgb(192, 187, 181);
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: rgb(192, 187, 181);
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}

.pages{
    color: rgb(192, 187, 181);
}

body {
    background-color: lightslategray;
    columns: black;
    font: normal 16px ;
    line-height: 1.6em;
    margin: 0;
}

#showcase{
    color: black;
}

.main-block{
    margin: 30px;
}

.my-list{
    margin: 60px;
}

.block{
    margin: 45px;
}

#footnote{
    background-color: rgb(73, 52, 73);
}

.box{
    margin: 15px;
}

#main-footer{
    background-color: slategray;
}