/*
*{
    margin: ;
    padding: ;
}

body {
    background-color: ;
    color: ;
    font-family: ;
    font-size: ;
    font-weight: ;
    line-height: ;
    margin: ;
}

.container{
    width: ;
    margin: ;
}

.button{
    background-color: ;
    color: ;
    padding:;
    border: ;
}

.clr{
    clear: ;
}

.box-2{
    border: ;
    padding: ;
    margin: ;
}

.categories{
    border: ;
    padding: ;
    border-radius: ;
}

.block{
    float: ;
    width: ;
    border: ;
    padding: ;
    box-sizing: ;
}

#sidebar{
    float: ;
    width: ;
    background-color: ;
    color: ;
    padding: ;
    box-sizing: ;
}
*/